name: Python CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest mypy black isort flake8
      - name: Run pytest
        run: pytest tests
      - name: Run mypy
        run: mypy src/
      - name: Run black
        run: black --diff --check src/
      - name: Run isort
        run: isort --check-only src/
      - name: Run flake8
        run: flake8 src/
